body {
    height: 100%;
    background: #007bff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 900%;
    animation: gradientBG 15s ease infinite;
}


.breadcrumb {background: rgba(255, 255, 255, 0.44); border: 0px solid rgba(255, 255, 255, 1); border-radius: 17px; display: block;}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.bg-secondary{
    background: white;
}

h2 {
    color: #FFFF33;
    text-align: center;
    font: italic 200% fantasy;
}

#sticky-footer {
    flex-shrink: initial;
    background: lightslategray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3%;
    font-weight: bold;
}

.main-container{
    flex:6;
    flex-direction: column;
    display: flex;
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5rem;
    justify-content: space-between;
}

.left-header-part{
    display: inline-block;
    min-width: 75rem;
    max-width: 75rem;
}

.right-header-part{
    display: flex;
    justify-content: right;
    align-items: center;
}


.sidebar-wrapper{
    align-items: stretch;
    flex: 1;
    max-width: 10%;
    min-width: 10%;
}

.sidebar-internal{
    margin: 5px;
    font-weight: bold;
}

.sidebar-item{
    font-size: 25px;
}

.side-item{
    margin-left: 1%;
    margin-right: 1%;
}

#sidebar {
    border-radius: 5px;
    background: crimson;
}

#sidebar-header{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.username-header{
    font-weight: bold;
    font-size: large;
    margin:  auto 1rem;
}

.btn{
    background-color: azure;!important;
}

.form-row{
    display: flex;
}
.form-row > div {
    display: flex;
    flex-direction: column;
    width: 50rem;
}


.flex-container{
    display: flex;
}

.flex-inline-center-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-inline-center-container > a{
    margin: auto 1rem;
}

#management-console{
    display: flex;
    flex-direction: column;
    margin: auto 1rem;

}

.login-form{
    position: fixed;
    width: 50rem;
    margin: 5% auto;
    left: 0;
    right: 0;
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}

.fixed-centered{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form > div > p{
    font-weight: bold;
    font-size: 5rem;
}

.dropdown-input-container > .dropdown-menu{
     position: relative;
 }

.dropdown-input-container > .open >.dropdown-menu{
    display: flex;
    flex-direction: column;
}


