<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/main}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <h2>You don't have required permissions to view this content.</h2>
    </div>
</div>
</body>
</html>