<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/main}">
<head>
    <head>
        <title>Copies</title>
    </head>
<body>
<div layout:fragment="content">
    <form class="form-inline" method="post" th:action="@{/manager/all-allocations}"><div>
        <input class="form-control" type="text" name="filterStr" placeholder="Item Id or Title">
        <input class="btn btn-outline-secondary" type="submit" value="Filter">
    </div></form>
    <table class="table table-bordered bg-secondary table-fit fixed-centered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Item Id</th>
            <th scope="col">User</th>
            <th scope="col">Title</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">status</th>
            <th scope="col">Return Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="allocation: ${allocations}">
            <td th:text="${allocation.Id}"></td>
            <td th:text="${allocation.item.Id}"></td>
            <td th:text="${allocation.owner.username}"></td>
            <td th:text="${allocation.item.title}"></td>
            <td th:text="${allocation.getStartDateString()}"></td>
            <td th:text="${allocation.getEndDateString()}"></td>
            <div>
                <td th:if="${allocation.isFinished() == false}" th:text="ongoing"></td>
                <td th:if="${allocation.isFinished() == true}" th:text="finished"></td>
            </div>
            <div class="allocation-return-date">
                <td th:if="${allocation.isFinished() == false}" th:text="Tbd"></td>
                <td th:if="${allocation.isFinished() == true}" th:text="${allocation.getReturnDateString()}"></td>
            </div>
            <div class="allocation-return-action">
                <td th:if="${allocation.isFinished() == false}"><form class="form-inline" method="post" th:action="@{/completeAllocationAll}">
                    <input class="form-control" type="hidden" name="id" th:value="${allocation.Id}">
                    <input class="btn btn-outline-secondary" type="submit" value="Return">
                </form></td>
                <td th:if="${allocation.isFinished() == true}" th:text="Done"></td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>