<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/main}">
<head>
<head>
    <title>Books</title>
</head>
<body>
<div layout:fragment="content">
    <form class="form-inline" method="post" th:action="@{/books}"><div>
        <input class="form-control" type="text" name="filterStr" placeholder="Title">
        <input class="btn btn-outline-secondary" type="submit" value="Filter">
    </div></form>
        <form sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class = "form-row" method="post" th:object="${author}" th:action="@{/manager/addbook}"><div>
            <input class="form-control" type="text" name="title" placeholder="Title">
            <input class="form-control" type="text" name="firstName" placeholder="Author's firstname">
            <input class="form-control" type="text" name="lastName" placeholder="Author's lastname">
            <input class="btn btn-outline-secondary" type="submit" value="Add">
            <div class="flex-inline-center-container">
                <span class="alert alert-danger" role="alert" th:if="${errorHappened}" th:text="${errorMsg}" style="font-weight: bold">Wrong input!</span>
            </div>
        </div></form>
    <table class="table table-bordered bg-secondary table-fit">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" scope="col">Stock</th>
            <th sec:authorize="isAuthenticated()" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <!--iterujemy po naszych booksach i tworzymy rowy tabeli-->
        <tr th:each="book: ${books}">
            <td th:text="${book.title}"/>
            <td th:text="${book.author.firstName + ' ' + book.author.lastName}" + />
            <td sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" th:text="${service.count(book)}"></td>
            <td>
                <form sec:authorize="hasRole('ROLE_USER')" class="form-inline" method="post" th:action="@{/borrow}">
                    <input class="form-control" type="hidden" name="bookId" th:value="${book.Id}">
                    <input class="form-control" type="datetime-local" name="startDate" th:required="required">
                    <input class="form-control" type="datetime-local" name="endDate" th:required="required">
                    <div class="dropdown-input-container">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <input class="form-control dropdown-item" type="radio" name="type" value="PaperBook"  checked="checked" th:required="required">Paper
                                <input class="form-control dropdown-item" type="radio" name="type" value="AudioBook" th:required="required">Audiobook
                            </div>
                        </div>
                        <input class="btn btn-outline-secondary" type="submit" value="Borrow">

                </form>
                <form sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="form-inline" method="post"  th:action="@{/manager/addCopy}">
                    <input class="form-control" type="hidden" name="bookId" th:value="${book.Id}">
                        <input class="form-control dropdown-item" type="radio" name="type" value="PAPERBOOK"  checked="checked" th:required="required">Paper
                        <input class="form-control dropdown-item" type="radio" name="type" value="AUDIOBOOK" th:required="required">Audiobook
                    <input class="btn btn-outline-secondary" type="submit" value="AddCopy">
                </form>
                <form sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="form-inline" method="post" th:action="@{/manager/deletebook}"><div>
                    <input class="form-control" type="hidden" name="bookId" th:value="${book.Id}">
                    <input class="btn btn-outline-secondary" type="submit" value="Delete">
                    <div class="flex-inline-center-container" th:if="${deleteError}">
                        <span class="alert alert-danger" role="alert" th:text="${deleteErrorMsg}" style="font-weight: bold">Wrong input!</span>
                    </div>
                </div></form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="flex-inline-center-container" th:if="${allocationError}">
        <span class="alert alert-danger" role="alert" th:text="${allocationErrorMsg}" style="font-weight: bold">Wrong input!</span>
    </div>
    <div class="flex-inline-center-container" th:if="${allocationSuccess}">
        <span class="alert alert-success" role="alert" th:text="${allocationSuccessMsg}" style="font-weight: bold">Success</span>
    </div>
</div>
</body>
</html>