<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/main}">
<head>
    <head>
        <title>Copies</title>
    </head>
<body>
<div layout:fragment="content">
    <form class="form-inline" method="post" th:action="@{/manager/copies}"><div>
        <input class="form-control" type="text" name="filterStr" placeholder="Title">
        <input class="btn btn-outline-secondary" type="submit" value="Filter">
    </div></form>


<table class="table table-bordered bg-secondary table-fit fixed-centered">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Book</th>
        <th scope="col">Type</th>
        <th scope="col">Length</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="copy: ${copies}">
        <td th:text="${copy.Id}"></td>
        <td th:text="${copy.getTitle()}"></td>
        <td th:if="${copy.getBookType() instanceof T(items.copies.model.PaperBook)}">Paper Book</td>
        <td th:if="${copy.getBookType() instanceof T(items.copies.model.AudioBook)}">Audio Book</td>
        <td th:if="${copy.getBookType() instanceof T(items.copies.model.PaperBook)}" th:text="${copy.bookType.pages + ' pages'}"></td>
        <td th:if="${copy.getBookType() instanceof T(items.copies.model.AudioBook)}" th:text="${copy.bookType.getDurationString()}"></td>

        <td><form  sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="form-inline" method="post" th:action="@{/manager/deleteCopy}">
            <input class="form-control" type="hidden" name="id" th:value="${copy.Id}">
            <input class="btn btn-outline-secondary" type="submit" value="Delete">
            <div class="flex-inline-center-container" th:if="${deleteError}">
                <span class="alert alert-danger" role="alert" th:text="${deleteErrorMsg}" style="font-weight: bold">Delete error</span>
            </div>
        </form></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>