<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/main}">
<head>
    <head>
        <title>My Allocations</title>
    </head>
<body>
<div layout:fragment="content">
    <table class="table table-bordered bg-secondary table-fit fixed-centered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">status</th>
            <th scope="col">Return Date</th>
            <th  scope="col">Return book</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="allocation: ${allocations}">
            <td th:text="${allocation.Id}"></td>
            <td th:text="${allocation.item.title}"></td>
            <td th:if="${allocation.item instanceof T(items.copies.model.Copy)}" th:text="${allocation.item.getBookType().getClass().getSimpleName()}"></td>
            <td th:if="${allocation.item instanceof T(items.filmCopies.model.FilmCopy)}">Film</td>
            <td th:if="${allocation.item instanceof T(model.NullAllocable)}">Empty</td>
            <td th:text="${allocation.getStartDateString()}"></td>
            <td th:text="${allocation.getEndDateString()}"></td>
            <div class="allocation-status">
              <td th:if="${allocation.isFinished() == false}" th:text="ongoing"></td>
              <td th:if="${allocation.isFinished() == true}" th:text="finished"></td>
            </div>
            <div class="allocation-return-date">
             <td th:if="${allocation.isFinished() == false}" th:text="Tbd"></td>
              <td th:if="${allocation.isFinished() == true}" th:text="${allocation.getReturnDateString()}"></td>
            </div>
            <div class="allocation-return-action">
             <td th:if="${allocation.isFinished() == false}"><form class="form-inline" method="post" th:action="@{/completeAllocation}">
              <input class="form-control" type="hidden" name="id" th:value="${allocation.Id}">
                 <input class="form-control" type="hidden" name="copyId" th:value="${copyId}">
              <input class="btn btn-outline-secondary" type="submit" value="Return">
             </form></td>
            <td th:if="${allocation.isFinished() == true}" th:text="Done"></td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>