<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/main}">

<head>
    <title>Edit Film</title>
</head>
<body>
<div layout:fragment="content">
    <form sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class = "form-row" method="post"  th:action="@{/manager/editFilm}"><div>
        <input class="form-control" type="hidden" name="filmId" th:value="${film.Id}">
        <input class="form-control" type="text" name="title" th:placeholder= "${film.title}">
        <input class="form-control" type="text" name="firstName" th:placeholder="${film.director.firstName}">
        <input class="form-control" type="text" name="lastName" th:placeholder="${film.director.lastName}">
        <input class="form-control" type="number" name="release" th:value="${film.getReleaseDate()}" th:placeholder="${film.getReleaseDate()}">
        <input class="btn btn-outline-secondary" type="submit" value="ok">
        <a class="btn btn-light" type="button" th:href="@{/films}">cancel</a>
    </div></form>
</div>
</body>
</html>