<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{resources/css/style.css}">
</head>
<body>

<header th:fragment="header">
    <div class="header-container">
        <div class="left-header-part">
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">test</a></li>
                    <li class="breadcrumb-item"><a href="#">test2</a></li>
                    <li class="breadcrumb-item active" aria-current="page">test3</li>
                </ul>
            </nav>
        </div>
        <div class="right-header-part">
        <div sec:authorize="isAuthenticated()" class="flex-inline-center-container">
            <span class="username-header" sec:authentication="name">Username</span>
            <span class="username-header" sec:authorize="hasRole('ROLE_DEACTIVATED')">YOUR ACCOUNT HAS BEEN DEACTIVATED BY ADMIN</span>
            <div th:replace="::user-console"></div>
            <form  method="post" th:action="@{/logout}">
                <input class="btn btn btn-light" type="submit" value="Logout">
            </form>
        </div>
            <div sec:authorize="isAnonymous()" class="flex-inline-center-container">
                <a class="btn btn-light" type="button" th:href="@{/register}">Create Account</a>
                <a class="btn btn-light" type="button" th:href="@{/login}">Login</a>
            </div>
        </div>
    </div>
</header>

<div th:fragment="side-menu" class="sidebar-wrapper side-item">
    <nav id="sidebar">
        <div class="sidebar-internal">
            <h3 id="sidebar-header">Library</h3>
            <ul>
                <li class="sidebar-item"><a th:href="@{/}">Home</a></li>
                <li class="sidebar-item"><a th:href="@{/books}">Books</a></li>
            </ul>
        </div>
    </nav>
</div>

<footer th:fragment="footer" id="sticky-footer">
    <div class="container text-center">Aplikacja na PAS | Michał Tęgi | Jakub Fornalski</div>
</footer>

<div th:fragment="login-form" class="login-form">
    <div class="p2">
        <p>Sign In</p>
        <form class="form" method="post" th:action="@{/login}">
            <input type="text" class="form-control form-control-lg" placeholder="Username" name="username" th:required="required" th:autofocus="autofocus" style="margin-bottom: 10px">
            <input type="password" class="form-control form-control-lg" placeholder="Password" name="password"  th:required="required" style="margin-bottom: 10px">
            <input class="btn btn-outline-secondary btn-lg" type="submit" value="Login" style="margin-bottom: 10px;">
        </form>
    </div>
    <div style="margin-top: 10px; margin-left: 33%;"  th:if="${param.error} " th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
        <span class="alert alert-danger" role="alert" th:text="${errorMsg}" style="font-weight: bold">Wrong input!</span>
    </div>
</div>

<div sec:authorize="isAuthenticated()" th:fragment="user-console" id="management-console">
    <div sec:authorize="hasRole('ROLE_USER')" class="flex-inline-center-container">
        <a class="btn btn btn-light" type="button" th:href="@{/my-allocations}">My Allocations</a>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')" class="flex-inline-center-container">
        <a class="btn btn btn-light" type="button" th:href="@{/admin/manage-users}">Manage users</a>
        <a class="btn btn btn-light" type="button" th:href="@{/manager/copies}">Manage copies</a>
        <a class="btn btn btn-light" type="button" th:href="@{/manager/all-allocations}">Manage allocations</a>
    </div>
</div>

</body>
</html>