<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/main}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Dzisiaj jest <span th:text="${date}"/> </h2>
    <div th:text="${msg}"/>
    <div th:text="${#request.contextPath}" />
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
</div>
</body>
</html>