<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/html"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}">
<head>
    <title>Register</title>
</head>
<body>
<div layout:fragment="content">
    <div class="login-form">
        <div class="p2">
            <p>Create new account</p>
            <form action="#" th:action="@{/register}" th:object="${newUser}"  method="post">
                <input type="text" class="form-control form-control-lg" placeholder="Username" name="username" th:required="required" th:autofocus="autofocus" style="margin-bottom: 10px">
                <input type="password" class="form-control form-control-lg" placeholder="Password" name="password" th:required="required" style="margin-bottom: 10px">
               <!-- <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" name="cpassword"  th:required="required" style="margin-bottom: 10px">-->
                <!--<input type="text" th:field="*{username}">
                <input type="password" th:field="*{password}">-->
                <input class="btn btn-outline-secondary btn-lg" type="submit" value="Register" style="margin-bottom: 10px;">
            </form>
        </div>
        <div class="flex-inline-center-container">
            <span class="alert alert-danger" role="alert" th:if="${errorHappened}" th:text="${errorMsg}" style="font-weight: bold">Wrong input!</span>
        </div>
    </div>
</div>
</body>
</html>